.categories {
    margin: 32px auto 14px  
}

.cats-row {
    display: flex;
    gap: 100px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 14px
}

.cat-item {
    width: 90px;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background: transparent;
    border-radius: 10px
}

.cat-item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06)
}

.cat-item span {
    margin-top: 8px;
    font-weight: 600;
    font-size: 26px
}

.center {
    text-align: center;
}
