.hero-section{
    margin-top:8px;
    margin:40px;
}
.hero-bg{
  height:620px;
  background-size:cover;
  background-position:center;
  display:flex;
  align-items:center;
  position:relative;
  border-radius:14px;
}
.hero-overlay {
  height:330px;
  text-align: center;
  background: linear-gradient(180deg, rgba(127,47,47,0.6), rgba(127,47,47,0.6));
  color:#fff;
  padding:145px;
  border-radius:14px;
  background-size:cover;    
  width:100%  
  
}

.hero-overlay h1{
    text-align: center;
    font-size:60px;
    line-height:1.15;
    margin-bottom:10px
    
    
}
.hero-overlay p{
    text-align: center;
    font-size:30px;
    opacity:0.95;
    margin-bottom:18px
}
.btn{
    padding: 14px 32px;    
    font-size: 18px;  
    border-radius: 6px;
}
.btn:hover {
    color: brown;
   
  }