.shop-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-right:30px;
    margin-left:30px;
    gap: 0px;
  }

  .promo-card {
    margin:20px;
    padding:0px;
    position: relative;
    height: 500px;
    border-radius: 18px;
    overflow: hidden;
  }

  .base-img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 90%;
    object-fit: cover;
    z-index: 0;
    border-radius: 18px;
  }

  .overlay-img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 90%;
    object-fit: cover;
    opacity: 0.85;
    z-index: 1;
    border-radius: 18px;
  }

  .content {
    position: absolute;
    inset: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 30px;
  }
  
  .content h3 {
    font-size: 26px;
    line-height: 1.3;
    margin-bottom: 20px;
  }
  
  .content button {
    background: white;
    color: #9b4650;
    border: none;
    padding: 12px 30px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
  }
  