.site-nav {
    width: 100%;
    background: #ffffff;
    padding: 2px 0;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.20);
    top: 0;
    z-index: 1000;
  }

  .nav-inner {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    width: 74px; 
    height:74px;
    cursor: pointer;
  }

  .nav-links {
    display: flex;
    gap: 40px;
  }
  
  .nav-links a {
    font-size: 16px;
    color: #333;
    text-decoration: none;
    font-weight: 500;
    font-family:'Kufam';
    transition: 0.2s ease;
  }
  
  .nav-links a:hover {
    color: #8b3a4a;
  }

  .nav-actions {
    display: flex;
    align-items: center;
    gap: 18px;
  }
  
  .icon {
    width: 25px;
    height: 25px;
    padding: 7px;
    background: #8b3a4a;    
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s ease;
  }
  
  .icon:hover {
    transform: scale(1.1);
    background: #7a3142;
  }